@media screen and (max-width:700px){
    .body{
    display: flex;
    
    
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

}
.rounded-circle{
    border-radius: 4rem;
    border:5px;
    margin-top: 10px;
    
    

}
@media screen and (max-width:700px){
    .body{
        width: 50%;
    }
}
@media screen and (min-width:1000px){
    .body{
        width: 50%;
    }
}

body{
    font: 18px Garamond bold, Arial, sans-serif;
    
}
.navbar{
    background-color:#2ECCFA;  
}

.quemsomos{
    background-color: #CEF6F5;
    color:black;
}
.margin{
    padding-top: 50px;
    padding-bottom: 60px;
}
.quemsomos{
    padding-top: 50px;
    padding-bottom: 60px;
}
.corpotext{
    padding-top: 30px;
    padding-bottom: 40px;
    font: 20px'NetflixSans-Bold',Garamond, Arial, sans-serif;
    color: (rgba(0, 0, .50),rgba(0, 0, .50)100%);
   

}
.progressBar{
    padding-top: 30px;
        position: relative;
        width: 100%;
        height:0; height:10px;
        background-color: #000;
        
}
    .timeBar
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #ccc; 
}
P.blocktext {
    display: inline-block;
    margin-top: -7vh;
    padding: 3.5rem;
    margin-left: auto;
    margin-right: -40vh;
    max-width: resolution; right:
    max-width= resolution; 
    left: 200vh;
    width: 47%;
    height: 40%;
    text-justify: distribute;
    align-items: center;
    text-align: left;
    text-align: justify;
    
    
}
IMG.displayed {
    display: block;
    padding: 7vh;
    max-width: resolution; right:
    max-width= resolution; left:
    margin-left= 20vh;
    margin-right: +20vh;
    margin: 0;
    width: -47%;
    left: -30vh;
    align-items: center;
    margin-right: 30vh;
    margin-left: 2vh;
    transform: translate(20vh, 050vh)
}
.myVideo{
    padding: 20vh 10vh 20vh 10vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 5px;
    border-radius: 10vh;
}
hr{
    border-color:rgb(12, 12, 12);
    box-sizing:border-box;
      
  }
  {
    width: 100%;
    border-bottom: 3px solid #000000;
  }
  .logo:hover{
      
      cursor:pointer;
      overflow: hidden;
      
  }